* {
  /* border-style: dashed;
  border-color: red; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost";
  word-wrap: break-word;
}

.leo {
  width: 15rem;
  height: 16rem;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.socialNet img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 10px 10px;
  transition: 1.5s;
}

.socialNet img:hover{
  box-shadow: 0 0;
  transform:translate(10px, 10px);
}

header {
  background-color: rgb(0, 86, 173);
  font-size: 3rem;
  color: rgb(192, 231, 255);
}

h1 {
  font-size: 6rem;
  line-height: 5.2rem;
  padding: 1rem 1.5rem;
  text-align: center;
}

.intro {
  background-color: rgb(0, 106, 214);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.pic {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.mydata {
  padding: 2rem;
  color: rgb(192, 231, 255);
  font-size: 1.5rem;
  align-self: center;
}

.info {
  padding: 3rem;
  text-align: justify;
  font-size: 1.2rem;
  width: 60%;
}

.contactInfo {
  padding: 3rem;
  text-size-adjust: 1rem;
  font-size: 1.2rem;
}

.socialNet {
  padding: 3rem;
}

.firstBlock {
  background-color: rgb(0, 126, 254);
  display: flex;
  justify-content: center;
}

.projects {
  background-color: rgb(52, 153, 255);
  padding: 1rem;
}

.accomplish {
  background-color: rgb(106, 180, 255);
  padding: 1rem;
}

.projects img{
  width: 22rem;
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 4.7rem;
    text-align: left;
  }

  .leo {
    margin-bottom: 2rem;
  }
}

/* perrod */
